langgraph
langchain-core
langchain-community

langchain-text-splitters

langchain-groq
langchain-huggingface

langchain-chroma
chromadb

sentence-transformers
pypdf

deepeval
pytest

fastapi
uvicorn
python-multipart
sse-starlette

pydantic
pydantic-settings

python-dotenv
requests

supadata
langchain_pinecone
pinecone

pwdlib
pyjwt